/* 

  -------------------------- SIDEBAR --------------------------

*/
.sidebar {
  width: 300px;
  height: 100vh;
  /* margin: 5px; */
  color: #fdfdfd;
  background-color: #10161D;
  position: absolute;
  left: -300px;
  transition: all 0.5s ease-out;
  display: inline-flex;
  flex-direction: column;
  align-content: space-between;
}

.sidebar__active {
  left: 0;
}

.sidebar__header {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: #1B2631;
}

.sidebar__header img {
  border-radius: 50%;
  height: 60px;
}

.sidebar__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__user-info p, .sidebar__user-info small {
  margin: 0px 10px;
  text-align: center;
}

.sidebar__user-info p {
  font-family: 'Poppins';
  font-size: 1rem;
}

.sidebar__user-info small {
  font-style: italic;
  font-size: .7rem;
  font-weight: 300;
  color: #e2e2e2;
}
/* 
.sidebar_span {
  color: #ffffff;
  font-size: 16px;
  padding-left: 0;
  height: 40px;
  width: 100%;
  background-color: #29323b;
  background-color: blue;
} */

.sidebar__body {
  min-height: 300px;
  padding-top: 30px;
  /* padding-left: 10px; */
  border-top: 2px solid #1B2631;
  /* margin-top: 40px; */
  overflow-y: auto;
  overflow-x: hidden;
}


.sidebar__newspace {
  width: 100%;
  height: 70px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.sidebar__newspace button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #1B2631;
  color: #fdfdfd;
  padding: 8px;
  border-radius: 20px;
  border: none;
  font-size: .7rem;
}

.sidebar__newspace button:hover {
  opacity: .9;
}

.sidebar__newspace .sidebar__logo-plus {
  margin-right: 7px;
}

.sidebar__footer {
  padding: 5px;
  min-height: 50px;
  border-top: 2px solid #1B2631;
}

.sidebar__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__footer a {
  font-size: .8rem;
  padding-left: 5px;
  color: #fdfdfd;
  text-decoration: none;
}

.sidebar__footer small {
  font-size: .7rem;
  padding: 5px;
}

.sidebar__workspace > li:not(:last-child) {
  margin-bottom: 30px;
  border-bottom: 2px solid #1B2631;
}


.sidebar__workspace h3 {
  font-size: 1.4rem;
  width: 80%;
  margin-bottom: 0px;
  padding-left: 15px;
  display: inline-flex;
  align-items: center;
}

.workspace__logo-options, .workspace__logo-plus, .sidebar__logo-plus {
  width: 20px;
  fill: #fdfdfd;
}

.workspace__logo-plus {
  padding: 5px;
  width: 30px;
  height: 50px;
  cursor: pointer;
}

.workspace__logo-options {
  width: 20px;
  height: 50px;
  cursor: pointer;
}

.workspace__options .dropdown-button {
  border: none;
  background: none;
}

.workspace__options {
  width: 50px;
}

.workspace {
  display: flex;
  justify-content: space-between;
}


.tasklist {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.tasklist__logo-options {
  fill: #787B7D;
}

.tasklist .dropdown-button {
  border: none;
  background: none;
}

.tasklist__logo-options {
  width: 20px;
  height: 50px;
  cursor: pointer;
}


/* .sidebar__workspace .tasklists {
  background-color: darkcyan;
} */


/* ---------------- SCROLL ---------------- */

.sidebar ::-webkit-scrollbar {
  width: 10px;  
}
.sidebar:hover ::-webkit-scrollbar-track {
  background: #10161D;
}
.sidebar:hover ::-webkit-scrollbar-thumb {
  background: #1B2631;
}

/* ---------------- END SCROLL ---------------- */

.list_task ul {
  list-style: none;
  padding: 0;
}

.toggle-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  right: -50px;
  font-size: 1.8rem;
  cursor: pointer;
  background-color: #10161D;
  border-radius: 0px 5px 5px 0px;
  width: 50px;
}

/* 

  -------------------------- END SIDEBAR --------------------------

*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover {
  background-color: #1B2631;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -80px;
  background-color: black;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}


.dropdown:hover .dropdown-content {
  display: block;
  border: 2px solid #1B2631;
}

.dropdown-content li {
  display: flex;
  justify-content: center;
  background-color: #10161D;
}

.dropdown-content li:hover {
  background-color: #1B2631;
  cursor: pointer;
}

.sidebar .dropdown li:last-child:hover {
  background-color: #A72D25;
}


.workspace__tasklists {
  margin-bottom: 20px;
}

.workspace__tasklists .tasklist h4 {
  display: flex;
  margin: 0;
  color: #bbbbbb;
  font-size: 1rem;
  padding: 10px;
  padding-left: 20px;
  align-items: center;
}

.workspace__tasklists .tasklist:hover h4 {
  color: #fdfdfd;
}

.workspace__tasklists .tasklist:hover .tasklist__logo-options {
  fill: #fdfdfd;
}

.workspace__tasklists .tasklist:hover {
  background-color: #181E26;
  cursor: pointer;
}