.signUp{
    display: flex;
    justify-content: center;
}
  /* .container p{
    margin-top: 40px;
  }
   */
  .container {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 480px;
    width: 350px;
    padding: 10px;
    padding-top: 100px;
    top: 80px;
    border-radius: 15px;
    background: #1b2631;
  }
  
  /* .container .logo {
    width: 130px;
    height: 130px;
    padding: 10px;
    display: flex;
    align-content: center;
    position: absolute;
    border-radius: 50%;
    top: -60px;
    background-color: #fdfdfd;
  }
   */
  .container .logo img {
    width: 100%;
  }
  
  .container .inputLogin {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .container .inputLogin img {
    height: 50px;
    padding: 12px;
    border-radius: 10px 0px 0px 10px;
    background: #fdfdfd;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="user"] {
    font-size: 16px;
    width: 80%;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    outline: none;
  }
  

 
  