.bodyTask {
  display: flex;
  height: 90%;
}

.TaskContainer {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #10161d;
  width: 30%;
  border-radius: 10px;
}

.TaskContainer > header {
  display: flex;
  align-items: center;
  padding: 10px 1em;
  justify-content: space-between;
  background-color: #29323b;
  color: white;
  border-radius: 10px;

}

header > h4{
  font-weight: 600;
}

.TaskContainer > .Tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 1em;
}


.TaskContainer > .Tasks > .task {
  background-color: #29323b;
  color: white;
  width: 50%;
  border-radius: 10px;
  margin-top: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  padding: 10px;
}

.TaskDescription {
  width: 50%;
}
