.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    height: 90vh;
    overflow-y: auto;
}

.cardTaskList {
    background-color: #10161D;
    width: 500px;
    min-height: 70vh;
    border-radius: 10px;
    margin: 10px;
}

.cardTaskList__header {
    border-radius: 10px 10px 0px 0px;
    background-color: #29323C;
    color: #e4e4e4;
    padding: 10px;
}

.cardTaskList__header h3 {
    margin: 0;
    padding-left: 10px;
    font-size: 1.5rem;
}


.cardTaskList .task {
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #29323C;
    border-radius: 5px;
    margin: 15px 20px;
}

.cardTaskList .task h4 {
    margin: 0;
    color: #e4e4e4;
    font-size: 1rem;
}








.cardDescription {
    background-color: #10161D;
    width: 500px;
    min-height: 70vh;
    max-height: 650px;
    border-radius: 10px;
    margin: 10px;
}

.cardDescription__header {
    border-radius: 10px 10px 0px 0px;
    background-color: #29323C;
    color: #e4e4e4;
    padding: 10px;
}

.cardDescription__header h3 {
    margin: 0;
    padding-left: 10px;
    font-size: 1.2rem;
}

.cardDescription__content {
    max-height: 600px;
    padding: 30px;
    overflow-y: auto;
}

.cardDescription__content h5 {
    color: #e4e4e4;
    text-align: center;
}

.cardDescription__content h6 {
    color: #5a5a5a;
    margin-top: 10px;
}

.cardDescription__content p {
    color: #e4e4e4;
}







/* -------------------- CHECKBOX -------------------- */

.chbx-container {
    padding: 10px;
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.task input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    border-radius: 50%;
    position: absolute;
    top: 0;
    margin: 8px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #29323C;
    border: 1px solid #108B2B;
}

  .chbx-container:hover input ~ .checkmark {
    background-color: #1f252c;
  }
  
  .chbx-container input:checked ~ .checkmark {
    background-color: #108B2B;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .chbx-container input:checked ~ .checkmark:after {
    display: block;
  }

  .chbx-container input:checked ~ h4 {
      text-decoration: line-through;
  }

  .chbx-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
