
.btn {
    background-color: transparent;
    border: none;
    color: $white;
    padding: 1.5rem 5rem;
    border-radius: 3rem;

    font-weight: 500;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

    margin-top: 2rem;

    cursor: pointer;
}

.btn-primary {
    background-color: $secondary;

    transition: background-color .2s ease;

    &:hover {
        background-color: darken($secondary, 10);
        // transform: scale(1.01) translateY(-.2rem);
    }
}

.btn-secondary {
    background-color: $tertiary-dark;

    transition: background-color .2s ease;

    &:hover {
        background-color: darken($tertiary-dark, 5);
        // transform: scale(1.01) translateY(-.2rem);
    }
}

.btn-quaternary {
    background-color: $blue-light2;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem 3rem;

    @include d-flex( center, center );

    transition: background-color .2s ease;

    &:hover {
        background-color: lighten($blue-light2, 10);
        // transform: scale(1.01) translateY(-.2rem);
    }

    img {
        padding-right: 1rem;
        width: 3rem;
    }
}

.btn-outline {

    border: .1rem solid $white;
    transition: background-color .2s ease;
    padding: 1.2rem 4rem;

}

.btn-outline-primary {

    &:hover {
        background-color: $white;
        color: $secondary;
        // transform: scale(1.01) translateY(-.2rem);
    }

}

.btn-outline-secondary {

    &:hover {
        background-color: $white;
        color: $tertiary-dark;
        // transform: scale(1.01) translateY(-.2rem);
    }

}

.btn-simple {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    transition: all .3s ease;

    &:hover {
        color: $light-grey;
    }
}

.btn-darkmode {
    background-color: $white;
    padding: .5rem;
    margin-top: 0;
    
    @include d-flex( center, center );

    img {
        width: 2.5rem;
    }

    i {
        color: $blue-dark;
        font-size: 2.4rem;

        margin-right: .5rem;
    }
}