
.input__form-box {
    display: flex;
    align-items: center;

    margin-bottom: 2rem;
    position: relative;
}

.input__search-box {
    margin-bottom: 0;
}

.input__img-box img {
    width: 2rem;

    position: absolute;
    top: 30%;
    left: 2%;
    z-index: 1;
}

.input__auth {
    width: 35rem;
    outline: none;
    padding: 1.4rem 3rem;
    font-size: 1.5rem;
    color: $grey;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    
    border: none;
    border-radius: .3rem;    
}

.input__search {
    width: 30rem;
    outline: none;
    padding: .8rem 3rem;
    font-size: 1.4rem;
    color: $grey;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    
    border: none;
    border-radius: 2rem;   
}

.input__search-img-box img {
    width: 2rem;

    position: absolute;
    top: 24%;
    right: 4%;
    z-index: 1;
}