
/* Variable Colors */
$primary: #10161D;
$secondary: #6076AE;
$secondary-dark: #445EA0;

$tertiary: #EB696C;
$tertiary-dark: #E74F52;

$grey: #A6ABAA;
$light-grey: #D0D0D0;

/* Basic Color */
$white: #FFFFFF;
$black: #000000;
