
/* Variable Colors */
$primary: #10161D;
$secondary: #6076AE;
$secondary-dark: #445EA0;

$tertiary: #EB696C;
$tertiary-dark: #E74F52;

$grey: #A6ABAA;
$light-grey: #D0D0D0;

/* Background Color - DarkMode */
$blue-dark: #141D25;
$blue-dark2: #10161D;

$blue-light: #28313A;
$blue-light2: #1B2631;
$blue-light3: #181F26;


/* Basic Color */
$white: #FFFFFF;
$black: #000000;
