*{
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 65%; // 1rem = 10px
    height: 100vh;
}


html, body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

main {
    width: 100%;
}

/* Scrollbar */

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #41A6FF;
}

/* End Scrollbar */
