body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.logo img {
  width: 100%;
}

.logo {
  width: 130px;
  height: 130px;
  padding: 10px;
  display: flex;
  /* margin-left: 80px; */
  align-content: center;
  position: absolute;
  border-radius: 50%;
  top: -130px;
  background-color: #fdfdfd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainContainer {
  width: 100%;
  display: flex;
  background-color: #141d25;
  height: 100vh;
}
