
.login{
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 500px;
  width: 350px;
  padding: 10px;
  padding-top: 120px;
  top: 80px;
  border-radius: 15px;
  background: #1b2631;
}
.containerLogin {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  /* height: 480px; */
  width: 350px;
  padding: 10px;
  padding-top: 80px;
  top: 80px;
  border-radius: 15px;
  background: #1b2631;
}


.login .logo {
  width: 130px;
  height: 130px;
  padding: 10px;
  display: flex;
  /* margin-left: 80px; */
  align-content: center;
  position: absolute;
  border-radius: 50%;
  top: -130px;
  background-color: #fdfdfd;
}

.login .logo img {
  width: 100%;
}

.login .inputLogin {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.login .inputLogin img {
  height: 50px;
  padding: 12px;
  border-radius: 10px 0px 0px 10px;
  background: #fdfdfd;
}

input[type="email"],
input[type="password"] {
  font-size: 16px;
  width: 80%;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  outline: none;
}



.login .iniciarSesion:hover {
  background-color: rgb(122, 8, 31);
  color: #fff;
 
}

.iniciarSesion{
  background-color: crimson;
  
}
.iniciarSesion a{
  text-decoration: none;
  color: #fdfdfd;
}

 .iniciarSesionGoogle, .iniciarSesion {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
}

.iniciarSesionGoogle:hover {
  background-color: rgba(253, 253, 253, 0.6);
  color: #000;
}

.login .iniciarSesionGoogle img {
  width: 25px;
  margin-right: 4px;
  margin-bottom: 2px;
}
.login-text {
  margin-top: 10px;
  color: #fdfdfd;
  text-align: center;
}
.login-text a{
  color: #fdfdfd;
  text-decoration: none;
}
span{
  color: aquamarine;
}

.divider{
  border: 1px solid #fdfdfd;
}
