.login {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  height: auto;
  width: 350px;
  padding: 10px;
  padding-top: 120px;
  top: 80px;
  border-radius: 15px;
  background: #1b2631;
}

.containerLogin {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 350px;
  padding: 10px;
  padding-top: 45px;
  top: 80px;
  border-radius: 15px;
  background: #1b2631;
}

.login .inputLogin {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.login .inputLogin img {
  height: 50px;
  padding: 12px;
  border-radius: 10px 0px 0px 10px;
  background: #fdfdfd;
}

.login input[type="email"],
.login input[type="password"] {
  font-size: 16px;
  width: 80%;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  outline: none;
}

.login .iniciarSesion:hover {
  background-color: rgb(122, 8, 31);
  color: #fff;
  transition: 0.4s;
}

.iniciarSesion {
  background-color: crimson;
}
.iniciarSesion a {
  text-decoration: none;
  color: #fdfdfd;
}

.iniciarSesionGoogle,
.iniciarSesion {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  transition: 0.4s;
}

.iniciarSesionGoogle:hover {
  background-color: rgba(253, 253, 253, 0.6);
  color: #000;
  transition: 0.4s;
}

.login .iniciarSesionGoogle img {
  width: 25px;
  margin-right: 4px;
  margin-bottom: 2px;
}
.login-text {
  margin: 10px 0px 15px;
  color: #fdfdfd;
  text-align: center;
}
.login-text a {
  color: #fdfdfd;
  text-decoration: none;
}
.login span {
  color: aquamarine;
}

.divider {
  border: 1px solid #fdfdfd;
  margin: 20px 0px 20px;
}
