.signUp{
    display: flex;
    justify-content: center;
}
  .container p{
    margin-top: 40px;
  }
  
  .container {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 480px;
    width: 350px;
    padding: 10px;
    padding-top: 120px;
    top: 80px;
    border-radius: 15px;
    background: #1b2631;
  }
  
  .container .logo {
    width: 130px;
    height: 130px;
    padding: 10px;
    display: flex;
    align-content: center;
    position: absolute;
    border-radius: 50%;
    top: -60px;
    background-color: #fdfdfd;
  }
  
  .container .logo img {
    width: 100%;
  }
  
  .container .inputLogin {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .container .inputLogin img {
    height: 50px;
    padding: 12px;
    border-radius: 10px 0px 0px 10px;
    background: #fdfdfd;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="user"] {
    font-size: 16px;
    width: 80%;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    outline: none;
  }
  
  .container .iniciarSesion {
    width: 80%;
    background-color: crimson;
    color: #fff;
    position: absolute;
    padding: 10px;
    border: none;
    border-radius: 50px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    transition: ease 0.5s;
  }
  
  .container .iniciarSesion:hover {
    width: 80%;
    background-color: rgb(122, 8, 31);
    color: #fff;
    position: absolute;
    padding: 10px;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    transition: ease 0.5s;
  }
  
  .container .iniciarSesionGoogle {
    width: 80%;
    background-color: #fdfdfd;
    color: #000;
    position: absolute;
    margin-top: 210px;
    padding: 12px;
    border: none;
    border-radius: 50px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    transition: ease 0.4s;
  }
  
  .container .iniciarSesionGoogle:hover {
    width: 80%;
    background-color: rgba(253, 253, 253, 0.6);
    color: #000;
    position: absolute;
    margin-top: 210px;
    padding: 12px;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    transition: ease 0.4s;
  }
  
  .container .iniciarSesionGoogle img {
    width: 25px;
    margin-right: 4px;
    margin-bottom: 2px;
  }
  
  .container .linea {
    position: absolute;
    margin-top: 280px;
    width: 300px;
    border: 1px solid #fff;
  }
  
  .container p {
    position: absolute;
   margin-top: -80px;
   font-size: 30px;
    color: #fff;
  }
  
  .container p a {
    text-decoration: none;
  }
  
  .container .olvidasteTuContraseña {
    position: absolute;
    margin-top: 340px;
    color: #fff;
    text-decoration: none;
  }
  
  .container .olvidasteTuContraseña:hover {
    position: absolute;
    margin-top: 340px;
    color: rgb(211, 211, 211);
    text-decoration: none;
  }
  